@model IEnumerable<SampleSecureCoding.Models.Student>

<h2>Students</h2>

<table class="table table-striped">
    <tr>
        <td>Nim</td>
        <td>Fullname</td>
    </tr>
    @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nim</td> 
                <td>@item.FullName</td> 
            </tr>
        }
</table>
